
<section class="auth-container">
    <h2>Сброс пароля</h2>
    <div class="auth-forms">
      <div class="auth-box">
        <h3><i class="fas fa-lock-open"></i> Введите новый пароль</h3>
        <input type="password" placeholder="Введите новый пароль" [(ngModel)]="password">
        <input type="password" placeholder="Повторите новый пароль" [(ngModel)]="confirmPassword">
        <button (click)="resetPassword()">Сбросить пароль</button>
        <p class="error" *ngIf="error">{{ error }}</p>
        <p class="success" *ngIf="success">{{ success }}</p>
      </div>
    </div>
  </section>
  