<header class="header">
    <div class="logo">
        <!-- <img src="images/logo.png" alt="HR Навигатор" class="logo-img"> -->
        <h1 class="logo-text">HR Навигатор</h1>
    </div>
    <nav class="nav" id="navMenu">
        <ul>
            <li><a (click)="goToPage('')">Главная</a></li>
            <li><a (click)="goToPage('courses')">Курсы</a></li>
            <li><a (click)="goToPage('aboutus')">О нас</a></li>
        </ul>
    </nav>
    <div  >
      
      <ng-container *ngIf="user$ | async as user; else guest">
        <button class="auth-button" (click)="goToProfile()">{{ user.name }}</button>
      </ng-container>
  
      <ng-template #guest>
        <button class="auth-button" (click)="goToLogin()">Вход / Регистрация</button>
      </ng-template>
    </div>
  </header>
  <router-outlet></router-outlet>