<div>
  <button class="goBack" (click)="goBack()">Назад</button>
</div>
<div class="course-form">
  <form (ngSubmit)="save()">
    <div class="form-group">
      <label>Название курса</label>
      <input
        type="text"
        [(ngModel)]="currentCourse.title"
        name="title"
        required
      />
    </div>

    <div class="form-group">
      <label>Описание</label>
      <textarea
        [(ngModel)]="currentCourse.description"
        name="description"
      ></textarea>
    </div>
    <div class="form-group">
      
        <label>Детали Курса</label>
        <input
          type="text"
          [(ngModel)]="currentCourse.details"
          name="details"
          required
        />
    </div>
    <div class="form-group">
      <label>Цена</label>
      <input
        type="text"
        [(ngModel)]="currentCourse.price"
        name="price"
        required
      />
    </div>
    <div class="form-group">
        <label>Длительность</label>
        <input
          type="text"
          [(ngModel)]="currentCourse.duration"
          name="duration"
          required
        />

    </div>
    <div class="form-group">
      <label>Обложка курса</label>
      <input type="file" accept="image/*" (change)="onImageUpload($event)" />
      <img *ngIf="currentCourse.cover_url" [src]="currentCourse.cover_url" />
    </div>
    <div class="form-group">
      <label>Категория</label>
      <select
        [(ngModel)]="currentCourse.category"
        name="category"
        required
      >
        <option value="Рекрутинг и подбор">Рекрутинг и подбор</option>
        <option value="Управление персоналом">Управление персоналом</option>
        <option value="Soft Skills">Soft Skills</option>
        <option value="Развитие карьеры">Развитие карьеры</option>
      </select>
    </div>

    <div class="modules">
      <div *ngFor="let module of modules" class="module">
        <h3>Модуль</h3>
        <input
          type="text"
          [(ngModel)]="module.title"
          [name]="'module-title-' + module.position"
          placeholder="Название модуля"
        />
        
          <div class="lessons">
          
            <div *ngFor="let lesson of module.lessons" class="lesson">
            <h4>Урок</h4>
            <input
              type="text"
              [(ngModel)]="lesson.title"
              [name]="'lesson-title-' + lesson.title"
              placeholder="Название урока"
            />
            <input
              type="file"
              accept="video/*"
              (change)="onLessonVideoUpload(lesson, $event)"
            />
            <input
              type="text"
              [(ngModel)]="lesson.content_url"
              [name]="'quiz-link-' + lesson.content_url"
              placeholder="Ссылка на квиз"
            />
          </div>
          <button type="button" (click)="addLesson(module)">
            + Добавить урок
          </button>
        </div>
      </div>
      <button type="button" (click)="addModule()">+ Добавить модуль</button>
    </div>

    <button type="submit" (click)="onSubmit()">Сохранить курс</button>
  </form>
</div>
