<app-notification
  [message]="(notificationService.notification$ | async)?.message ?? ''"
  [type]="(notificationService.notification$ | async)?.type ?? 'success'"
  [show]="(notificationService.notification$ | async)?.show ?? false"
></app-notification>

<section class="auth-container">
  <h2>Вход / Регистрация</h2>
  <div class="auth-forms">
    <div class="auth-box">
      <h3><i class="fas fa-sign-in-alt"></i> Вход</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="forms">
        <div class="input-group">
          <label for="login-email">Email</label>
          <input
            id="login-email"
            type="email"
            formControlName="email"
            placeholder="Введите email"
            required
          />
        </div>

        <div class="input-group">
          <label for="login-password">Пароль</label>
          <input
            id="login-password"
            type="password"
            formControlName="password"
            placeholder="Введите пароль"
            required
          />
        </div>

        <div class="remember-me">
          <input
            id="remember-me"
            type="checkbox"
            formControlName="rememberMe"
          />
          <label for="rememberMe">Запомнить меня</label>
        </div>

        <button type="submit" class="auth-button full-width">Войти</button>
        <a href="#" class="forgot-password">Забыли пароль?</a>
      </form>
      <p class="error" *ngIf="loginError">{{ loginError }}</p>
      <p class="success" *ngIf="loginSuccess">{{ loginSuccess }}</p>
    </div>
  </div>
</section>
