<div>
  <!-- <button class="goBack" (click)="goBack()">Назад</button> -->
</div>
<div class="course-form" *ngIf="courseLoaded">
  <form (ngSubmit)="save()">
    <div class="form-group">
      <label>Название курса</label>
      <input
        type="text"
        [(ngModel)]="currentCourse.title"
        name="title"
        required
      />
    </div>

    <div class="form-group">
      <label>Описание</label>
      <textarea
        [(ngModel)]="currentCourse.description"
        name="description"
      ></textarea>
    </div>
    <div class="form-group">
      <label>Детали Курса</label>
      <input
        type="text"
        [(ngModel)]="currentCourse.details"
        name="details"
        required
      />
    </div>
    <div class="form-group">
      <label>Цена</label>
      <input
        type="text"
        [(ngModel)]="currentCourse.price"
        name="price"
        required
      />
    </div>
    <div class="form-group">
      <label>Длительность</label>
      <input
        type="text"
        [(ngModel)]="currentCourse.duration"
        name="duration"
        required
      />
    </div>
    <div class="form-group">
      <label>Обложка курса</label>
      <input
        type="file"
        accept="image/*"
        (change)="onImageUpload($event)"
        id="cover-upload"
      />
      <label for="cover-upload" class="upload-button">Выбрать файл</label>
      <img
        *ngIf="currentCourse.cover_url"
        [src]="currentCourse.cover_url"
        class="cover-preview"
      />
    </div>
    <div class="form-group">
      <label>Категория</label>
      <select [(ngModel)]="currentCourse.category" name="category" required>
        <option value="Рекрутинг и подбор">Рекрутинг и подбор</option>
        <option value="Управление персоналом">Управление персоналом</option>
        <option value="Soft Skills">Soft Skills</option>
        <option value="Развитие карьеры">Развитие карьеры</option>
      </select>
    </div>
    <button (click)="onSaveCourse1()">Сохранить Обложку Курса</button>
    <button class="deleteBtn" (click)="onDeleteCourse(currentCourse.id)">Удалить Курс</button>

    <div class="modules">
      <div
        *ngFor="let module of currentCourse.modules; let i = index"
        class="module"
      >
        <h3>Модуль</h3>
        <input
          type="text"
          [(ngModel)]="module.title"
          [name]="'module-title-' + i"
          placeholder="Название модуля"
        />
        <div class="lessons">
          <div *ngFor="let lesson of module.lessons" class="lesson">
            <h4>Урок</h4>
            <input
              type="text"
              [(ngModel)]="lesson.title"
              [name]="'lesson-title-' + lesson.id"
              placeholder="Название урока"
            />

            <!-- Dropdown для выбора типа урока -->
            <select
              [(ngModel)]="lesson.type"
              [name]="'lesson-type-' + lesson.id"
            >
              <option value="video">Видео</option>
              <option value="quiz">Квиз</option>
              <option value="pdf">PDF</option>
            </select>

            <!-- Поле описания -->
            <textarea
              [(ngModel)]="lesson.description"
              [name]="'lesson-description-' + lesson.id"
              placeholder="Описание урока"
              rows="3"
            ></textarea>

            <!-- Поля контента в зависимости от типа -->
            <div *ngIf="lesson.type === 'video'">
              <input
                type="text"
                [(ngModel)]="lesson.content_url"
                [name]="'video-url-' + lesson.id"
                placeholder="Ссылка на видео (YouTube)"
              />
            </div>

            <div *ngIf="lesson.type === 'quiz'">
              <input
                type="text"
                [(ngModel)]="lesson.content_url"
                [name]="'quiz-link-' + lesson.id"
                placeholder="Ссылка на квиз"
              />
            </div>

            <div *ngIf="lesson.type === 'pdf'">
              <input
                type="text"
                [(ngModel)]="lesson.content_url"
                [name]="'pdf-url-' + lesson.id"
                placeholder="Ссылка на PDF"
              />
            </div>
            <button class="deleteBtn" (click)="onDeleteLesson(lesson.id, module)">
              Удалить Урок
            </button>
          </div>
          <button type="button" (click)="addLesson(module)">
            + Добавить урок
          </button>
        </div>
        <button class="deleteBtn" (click)="onDeleteModule(module.id)">
          Удалить Модуль
        </button>
      </div>
      <button type="button" (click)="addModule()">+ Добавить модуль</button>
    </div>

    <button type="submit" (click)="onSubmit()">Сохранить курс</button>
  </form>
</div>
